/*                          清除默认样式*/
*{
  margin: 0;
  padding: 0;
  background-repeat:no-repeat;
  box-sizing: border-box;
  font-size: 12px;
  outline:0 none;
}
ul {
  margin: 10px;
}
ul li{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px; 
}
li[class='box'] {
  margin-top: 0px;
  margin-bottom: 0px;      
}
.hide{
  display: none;
}
.show{
  display:block;
}    
/*                          共用样式*/
.num{
  padding-left: 1.5em;
}
.num,.title{
  line-height: 20px;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 5px\9;  
      
}     
.num_A{
  background-image:url("../images/analysis/flow/b1.png");
}
.num_B{
  background-image:url("../images/analysis/flow/b2.png");
}
.num_C{
  background-image:url("../images/analysis/flow/b3.png");
}
.title{
  font-weight: bolder;
}    
.box{
  display:table;
} 
.box,.action{
  margin-left: 2em;

}   
.a_type,.b_type{
  display:table-cell;
  cursor: pointer;
}      
/*                          PART A样式*/  
.a_type{
  width: 70px;
  height: 70px;
  background-size: 65% 65%;
  background-position: center 4px;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid #c4c4c4;
  background-color: #f9f9f9;
  padding: 5px;
  color: #797979;
}
.a_type:hover{
  background-color: rgb(254,219,91);
  color: rgb(255, 143, 24);
}
.a_type.select{
  background-color: rgb(254,219,91);
  color: rgb(255, 143, 24); 
} 
.a_dlfx{
  background-image:url("../images/analysis/type/dlfx.png");
}
.a_ghys{
  background-image:url("../images/analysis/type/ghys.png");
}
.a_ydfx{
  background-image:url("../images/analysis/type/ydfx.png");
}
.a_djfx{
  background-image:url("../images/analysis/type/djfx.png");
}
.a_cqgz{
  background-image:url("../images/analysis/type/cqgz.png");
}
.a_hcfx{
  background-image:url("../images/analysis/type/hcfx.png");
}
.a_kcfg{
  background-image:url("../images/analysis/type/kcfg.png");
}
/*                          PART B样式*/     
.b_type{
  width: 27px;
  height: 27px;
  color: transparent;
  background-position: center;
  font-size: 0;
  background-size: 96% 96%;
}
.b_type:hover{
  border:1px solid rgb(254,219,91);
} 
.b_type.select{
  border:1px solid rgb(254,219,91);
}     
.b_point{
  background-image:url("../images/analysis/sharp/1.1.png");
}
.b_rectangle{
  background-image:url("../images/analysis/sharp/1.2.png");
}  
.b_circle{
  background-image:url("../images/analysis/sharp/1.3.png");
}
.b_offbeat{
  background-image:url("../images/analysis/sharp/1.4.png");
}
.b_pmark{
  background-image:url("../images/analysis/sharp/1.5.png");
}
.b_shape{
  background-image:url("../images/analysis/sharp/1.6.png");
}
.b_cad{
  background-image:url("../images/analysis/sharp/1.7.png");
}
.b_txt{
  background-image:url("../images/analysis/sharp/1.8.png");
} 
div.UpContent{
  padding:1em;
}
div.UpContent span.alert{
  color:red;
}

div.UpContent span.tips{
  text-indent: 2em;
  vertical-align: top;
  line-height: 2;
}

div.UpContent span.tipTitle{
  display: inline-block;
}

a.UpContanier{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

a.UpContanier span.UpName{
  background: rgba(217, 237, 247,0.5);
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  display: inline-block;
  width: 150px;
  text-align: center;
}
a.UpContanier input[type="file"]{
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
  text-indent: -20em;
  height: 30px;
  margin-top: -1em;
}
#chearBtn.l-button{
  float: right;
  line-height: 24px;
  text-align: center;
}
/*                          PART C样式*/     
#analysisDiv input,#analysisDiv select{
  line-height: 2;
  height: 25px;
}
#analysisDiv select,label.change_btn{
  border:1px solid #797979;
  text-indent: 0.5em;
}
#analysisDiv select{
  width: 173px;
}
#analysisDiv input[type="text"],.change_btn{
  vertical-align: middle;
}
input[id^="change"]{
  width:130px; 
}
input[id^="input"]{
  border:1px solid #797979;
  width:155px; 
}           
.change_btn {
  cursor: pointer;
  padding:0 0.2em; 
  color:rgb(87, 86, 86);
  vertical-align: middle;
  font-size: 21.2px;
  font-size: 20px\9;  
} 
.change_btn:hover {
  color:#000;
  background: #ececec;
}                              

/***/
.btn_analysis{
  margin: 0 35%;
}
.l-button{
  cursor: pointer;
}
.l-button:disabled{
  cursor:wait;
}

div#ResultContent{
  padding: 1em;
}
/*切换面板相关样式**/
div#ResultContent, div#ResultContent:before, div#ResultContent:after,.tab-head, .tab-head:before, .tab-head:after ,.tab-body, .tab-body:before, .tab-body:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tab-head {
	width: 100%;
	cursor: pointer;
  margin: 0.65em 0;
}

.tab-body {
	padding: 15px;
	width: 100%;
  overflow: auto;
  border: 2px solid #1077d6;
}

.tab-head>ul {
  margin: 0;
}
.tab-head>ul>li {
	display: table-cell;
	list-style: none;
	text-align: center;
	background-color: #FFF;
	/* padding: 0 0.3em; */
}

.tab-title {
	width: 160px;
	min-width: 0;
	max-width: 160px;
	padding: 0.7em 1em;
	border: 2px solid #1077d6;
	color: #1077d6;
	border-radius: 4px 4px 0 0;
	margin-bottom: 0;
}

.tab-head>ul>li.active .tab-title {
	color: #fff;
	font-weight: bolder;
  background-color: #1077d6;
  line-height: 1.5;
}

.tab-body table {
	border-collapse: collapse;
	border-spacing: 0;
}

img,tr {
	page-break-inside: avoid
}

.tab-body table {
	max-width: 100%;
	background-color: transparent
}

.tab-body table caption,th {
	text-align: left
}

.tab-body table {
	width: 100%;
	margin-bottom: 20px
}

.tab-body table tbody>tr>td,.tab-body table thead>tr>td {
	padding: 8px;
	line-height: 1.428571429;
	border-top: 1px solid #ddd;
}

.tab-body table tbody>tr:nth-child(2) >td,.tab-body table thead>tr:nth-child(2) >td {
	word-break: keep-all;
}

.tab-body table>tbody>tr:nth-child(odd)>td,.tab-body table>tbody>tr:nth-child(odd)>th {
	background-color: #f9f9f9
}